@import "../../pages/media.scss";
.dislikeMenu{
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 120;
  display: flex;
  flex-direction: column;
  width: 17.67rem;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 8px 20px rgb(0 0 0 / 10%);
  overflow: hidden;
  .menuItem{
    height: 2.67rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 1rem;
    :first-child{
      padding-top: 2px;
    }
    &:hover{
      background-color: #fafafa;
    }
    .menuIcon{
      width: 1.333rem;
      height: 1.333rem;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% 100%;
    }
    .blockAuthor{
      background-image: url("../../public/muteauthor.svg");
    }
    .noInterest{
      background-image: url("../../public/notinterest.svg");
    }
    .report{
      background-image: url("../../public/report.svg");
    }
    .blockTag{
      background-image: url("../../public/mutetag.svg");
    }
    .menuText{
      margin-left: 0.667rem;
      font-size: 1.167rem;
      line-height: 2rem;
      color: #252933;
    }
  }
  .tagRow{
    padding: 0.333rem 1rem 1rem;
    .tagList{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: flex-start;
      .tagItem{
        color: #515767;
        box-sizing: border-box;
        font-size: 1rem;
        height: 2rem;
        max-width: 15.67rem;
        padding: 0 0.667rem;
        border-radius: 4px;
        background-color: #f7f8fa;
        margin-bottom: 0.667rem;
        line-height: 2rem;
        border: 1px solid #f7f8fa;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
      }
    }
    .btnBlockTag{
      background: #1e80ff;
      border-radius: 4px;
      outline: none;
      border: none;
      color: #fff;
      font-size: 1rem;
      text-align: center;
      line-height: 28px;
      width: 100%;
      height: 28px;
      box-sizing: border-box;
      cursor: pointer;
      padding: 0;
      margin-top: 0.333rem;
      font-size: 12px;
      :disabled{
        background: #abcdff;
        cursor: not-allowed;
      }
    }
  }
}
.popoverContent{
  position: absolute;
  padding: 1.333rem 1.333rem 1.833rem;
  width: 300px;
  font-weight: 400;
  line-height: 1.2;
  background-color: #fff;
  border: 1px solid #ebebeb;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 8%);
  box-sizing: border-box;
  border-radius: 2px;
  cursor: default;

  z-index: 80;
  box-shadow: 0 8px 24px rgb(81 87 103 / 16%);
  .metaRow{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    .metaList{
      flex: 1 1 auto;
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      align-items: center;
      position: relative; 
      .metaItem{
        flex: 1 1 auto;
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-direction: column;
        .count{
          font-size: 1.333rem;
          font-weight: 500;
          color: #252933;
          line-height: 2.333rem;
        }
        .title{
          font-size: 1.167rem;
          line-height: 2rem;
          color: #8a919f;
        }
      }
      .divider{
        width: 260px;
        height: 1px;
        top: -9px;
        position: absolute;
        background-color: #e4e6eb;
      }
    }
  }

}
@mixin actionIconBase {
  display: block;
  width: 16px;
  height: 16px;
  background-size: 100%;
}

.like{
  i{
    @include actionIconBase;
    background-image: var(--like-icon);
    &:hover{
      background-image: var(--like-hover-icon);
    }
  }

}
.comment {
  i{
    @include actionIconBase;
    background-image: var(--comment-icon);
    &:hover{
      background-image: var(--comment-hover-icon);
    }
  }
}
.view i{
  @include actionIconBase;
  background-image: var(--view-icon);
}
.item{
  transition: all .2s ease-in;
  background-color: var(--navbar-background-color);
  &:hover{
    background-color:#fafafa;
  }

  .entry{
    cursor: pointer;
    position: relative;
    background:var();
    padding: 12px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0px;
   
    .metaContainer{
      display: flex;
      align-items: center;
      color: #86909c;
      .userMessage{
        display: flex;
        align-items: center;
        margin-right: 8px;
        max-width: 162px;
        font-size: 13px;
        line-height: 22px;
        color: #4e5969;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
      }
      .date{
        position: relative;
        padding: 0 10px;
        line-height: 22px;
        font-size: 13px;
        flex-shrink: 0;
      }
      .date::before{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 1px;
        height: 14px;
        background: #e5e6eb;
        content: " ";
        left: 0;
      }
      .date::after{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 1px;
        height: 14px;
        background: #e5e6eb;
        content: " ";
        right: 0;

      }
      .tagList{
        display: flex;
        align-items: center;
        .tag{
          position: relative;
          flex-shrink: 0;
          font-size: 13px;
          line-height: 22px;
          padding: 0 8px;
          color: #86909c;
        }
      }
    }
    .cotentWrapper{
      display: flex;
      padding-bottom: 12px;
      border-bottom: 1px solid #e5e6eb;
      margin-top: 10px;
      width: 100%;
      border-bottom: 1px solid rgba(228, 230, 235, 0.5);
      .contentMain{
        flex: 1 1 auto;
        width: 5rem;//bug导致伸缩失败
        .titleRow{
          display: flex;
          margin-bottom: 8px;
          .title{
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            width: 100%;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
        }
        .abstract{
          margin-bottom: 10px;
          a{
            color: #86909c;
            font-size: 13px;
            line-height: 22px;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
        }
        .actionList{
          display: flex;
          align-items: center;
          .actionItem{
            display: flex;
            position: relative;
            margin-right: 20px;
            font-size: 13px;
            line-height: 20px;
            color: #4e5969;
            flex-shrink: 0;
            span{
              margin-left: 4px;
            }
            .comment v{
              background-image: var(--comment-icon);
            }
          }
        }
      }
      .thumb{
        flex: 0 0 auto;
        width: 120px;
        height: 80px;
        margin-left: 24px;
        background-color: #fff;
        border-radius: 2px;
        position: relative;
        object-fit: cover;
      }
    }
    .dislike{
      position: absolute;
      right: 1.667rem;
      transition: all .15s linear;
    }
  }
}
//一个通用dislike 另一个是具体的dislike 增加通用性
.dislike{
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: var(--popup-close-icon);
  background-size: 100% 100%;
  cursor: pointer;

}



// @include media-ipad {
// }

